.App {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leaflet-container {
  margin: 20px;
  width: 75%;
  height: 50vh;
}

input {
  margin: 10px;
}

.Marker {
  background-color: brown;
}
